<h4 class="funky">LOW RISK</h4>
<p class="interaction-lowriskns">
  Effects are additive. The combination is unlikely to cause any adverse or
  undesirable reactions beyond those that might ordinarily be expected from
  taking these drugs individually.
</p>
