<h4 class="funky">LOW RISK</h4>
<p class="interaction-lowrisks">
  Using these drugs together can cause an effect stronger than taking them individually,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before mixing drugs.
</p>
