  <h4 class="funky">LOW RISK</h4>
  <p class="interaction-lowriskd">
    Combining these drugs can be very risky since they counteract each other's effects.
    Effects for both drugs are reduced, making it easier to overdose since
    your 'psychological baseline' is shifted from what you are used to.
  </p>
