{% extends 'non-drug.njk' %}

{% block title %}
  Drugs and Me - About us
{% endblock %}


{% block header %}
<style>
  .theme-bg{
    background-color:#EF6767 !important;
  }
  .theme-color{
    color: #EF6767 !important;
  }
  .theme-light-bg{
    background-color: #EF6767 !important;
  }
  .theme-light-color{
    color:#EF6767 !important;
  }
</style>
{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9" style="background-color: #EF6767">

  <img src="static/images/non-drugs/about/about-illustration.png" style="height:250px; top: -200px;" alt="about">
  <div id="cover-text">
    <h1>About us</h1>
    <h4>About the project and the team</h4>
  </div>
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg">
{% endblock %}

{% block article %}

<div class="section">
  <div class='section-content' id="intro">
    <h2>Who are we?</h2>
    <p>
      We are a social enterprise that provides services centered around drug
      harm reduction, as part of an upcoming network of mental health tools
      brought to you by the Mental Health Education Foundation. This ranges
      from education, such as the drugsand.me website, workshops and lectures,
      to research, consultancy and advocacy.
    </p>
    <p>
      The drugsand.me website was our starting point, inspired by the increasing
      number of deaths that occur in the <a href="=https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/bulletins/deathsrelatedtodrugpoisoninginenglandandwales/2016registrations">UK</a>
      and <a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates">USA</a>
      due to lack of correct drug education.
    </p>
    <p>
      We do not promote drug use, but we do encourage safety for those thinking
      of taking any kind of drug, legal or illegal.
    </p>
    <blockquote>
      <p>
          "People will always use drugs. They always have used drugs. We must
          learn to live with this fact."
      </p>
    </blockquote>

      <footer>
        <a href="http://www.drcarlhart.com/">Dr Carl Hart</a>
      </footer>
    </blockquote>

    <p>
      Learn more about the team that makes drugsand.me <a href="team.html">here</a>.
    </p>
    <h2>What do we do?</h2>
    <p>
      Our website provides accessible, objective and comprehensive guides to help
      reduce the short and long term harms of drugs.
    </p>
    <p>
      As a social enterprise, we deliver <a href="http://drugsand.me/workshops.html">workshops and lectures</a> for to a variety
      of audiences which can supplement Personal, Social, Health and Economic
      (PSHE) education in schools, work with psychological and wellbeing
      services at universities and even help you with your family at home.
    </p>
    <p>
      We also carry out research and consultancy services. One of our projects
      culminated in the creation of a <a href="https://studentsunionucl.org/sites/uclu.org/files/u84132/documents/8_page_report.pdf">report</a>
      on drug use for the student psychological services at University College
      London using data collected from our <a href="http://drugsand.me/media/University_drug_use_survey_2017_(UK)-Drugsand.me.pdf">research</a>.
    </p>
    <h2>Where is this information coming from and what should I do with it?</h2>
    <p>
      In creating the content for drugsand.me every effort is made to use
      evidence-based sources. However, this is not always possible as scientists
      do not have all the answers. Therefore to provide comprehensive guides
      we must also resort to using resources that are not rigorously
      peer-reviewed. When this is the case, multiple sources are cross-verified
      to provide the most accurate possible information and the reader is
      notified of the anecdotal nature of the evidence.
    </p>
    <p>
      For this reason referencing our sources is very important to us as it
      allows our beneficiaries to explore the evidence we present, distinguish
      between sources and read further.
    </p>
    <p>
      We cannot guarantee that this will prevent any harm from drug use, nor
      can we be liable for any outcomes resulting from the use of illegal
      drugs. The information must be treated as indicative only as individuals
      and circumstances will differ.
    </p>
    <p>
      What we can tell you is that being knowledgeable on drugs has been shown
      to directly diminish their allure and thus likely the risk of
      developing substance abuse [<a href="http://www.pnas.org/content/112/8/2539">Gut et al, 2015, Kirk and Montague, 2015</a>].
    </p>
  </div>
  <div id="contact">
    <h2 class="section-title">Contact</h2>
    <p>
      If you would like to provide feedback for the website, collaborate with us,
      contribute to an article, or send ideas and sources, please get in touch
      by emailing <a href="mailto:contact@drugsand.me">contact@drugsand.me</a>
    </p>
    <p>
      If you would like to stay updated about our events, initiatives, and new features of
      the website, please subscribe here:
    </p>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="//drugsand.us12.list-manage.com/subscribe/post?u=27eb6c7445633027c8160efd7&amp;id=63bf3101af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        	<label for="mce-EMAIL">Subscribe to our mailing list</label>
        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27eb6c7445633027c8160efd7_63bf3101af" tabindex="-1" value=""></div>
          <div class="text-center clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
{% endblock %}
