{% extends 'non-drug.njk' %}

{% block title %}
  Drugs and Me - Donate
{% endblock %}


{% block header %}
<style>
  .theme-bg{
    background-color:#F6D85B !important;
  }
  .theme-color{
    color: #F6D85B !important;
  }
  .theme-light-bg{
    background-color: #F6D85B !important;
  }
  .theme-light-color{
    color:#F6D85B !important;
  }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9" style="background-color: #F6D85B">

  <img src="static/images/non-drugs/donate/donate-illustration.png" style="height:300px;" alt="donate">
  <div id="cover-text">
    <h1>Donate</h1>
  </div>
</div>
{% endblock %}

{% block article %}
<div class="content section">
  <div class="section-content">
    <p>
      Hi! If you come this far, you must have really liked the website. We run
      a pretty tight ship around here, we’re all volunteers or freelancers with
      a passion for harm reduction. We do this because we believe in the
      project, which is why it’s non-profit and everything is re-invested. But
      just like any other organisation we have costs and we rely on your
      donations to support and improve the website. We’d love to be able to get
      a full-time content researcher, for example, which would help us create
      more content and reach many more people, but that researcher would need
      a salary.
    </p>
    <p>
      If you support our work please consider donating. If you’d like to
      know more about where your donation will go send us an <a href="mailto:contact@drugsand.me">email</a>.
    </p>
    <br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate" style="background-color:white">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ECCYVGYUZK8K2">
      <input class="donate" type="image" src="static/images/non-drugs/donate/donate-button.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" hidden="" style="display: none !important;">
    </form>
    <!-- <form class=" donate" >
      <h3><a href="bitcoin:A_BITCOIN_ADDRESS">Donate now with Bitcoin</a></h3>
    </form> -->
    <br>
  </div>
</div>
{% endblock %}
