{% extends 'base.njk' %}


{% block header %}

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9">

  {% block cover_contents %} {% endblock %}
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg">
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-9 drug article" role="main">

    <div id="intro" class="section">
      <div class="section-content">
        {% block intro_content %} {% endblock %}
        <p class="side-note">
          Please read <a href="me.html">ME</a> for more general information about
          recreational drugs.
        </p>
        <div class="text-center">
          <div class="thing-to-take boxed tooltips" title="Click me!">
            <h2 class="funky theme-light-color">1</h2>
            {% block intro_content_1 %} {% endblock %}
          </div>
          <div class="thing-to-take boxed tooltips" title="Click me!">
            <h2 class="funky theme-light-color">2</h2>
            {% block intro_content_2 %} {% endblock %}
          </div>
          <div class="thing-to-take boxed tooltips" title="Click me!">
            <h2 class="funky theme-light-color">3</h2>
            {% block intro_content_3 %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div id="effects" class="section">
      <div class="section-title">
        <h2 class="funky"> Effects</h2>
      </div>
      <div class="section-content">
        {% block effects_content %} {% endblock %}
        <h4>
          The effects entail (from <span style="color: #26E224">positive</span>
          to <span style="color: #E50000">negative</span>):
        </h4>
        <ul class="effects" id="effects-positive">
          {% block effects_list_positive %} {% endblock %}
        </ul>
        <ul class="effects" id="effects-neutral">
          {% block effects_list_neutral %} {% endblock %}
        </ul>
        <ul class="effects" id="effects-negative">
          {% block effects_list_negative %} {% endblock %}
        </ul>
        <p>
          <i>
            * Much more common among first-time users
          </i>
        </p>
      </div>
    </div>

    <div id="dose-and-onset" class="section">
      <div class="section-title">
        <h2>Dose and Onset</h2>
      </div>
      <div class="section-content">
        {% block dose_and_onset_content %} {% endblock %}
      </div>
    </div>

    <div id="interactions" class="section">
      <div class="section-title">
        <h2>Interactions</h2>
      </div>
      <div class="section-content">
        {% block interactions_content %} {% endblock %}
        <div id="interactions-interactive">
          <div id="interactions-combo" class="col-md-12">
            <div id="interactions-combo-addition" class="col-md-6">
              <h4 class="funky"> <span class="current-drug-name"></span> + <span id="interactions-combo-addition-temp">?</span> =</h4>
              <div class="img-responsive">
                <img class="img-responsive" src="static/images/icons/interactions-gradient-with-text.png" alt="dangerous to synergy bar">
              </div>
            </div>
            <div id="interactions-combo-result" class="boxed col-md-5">
              <h4 class="funky"> SELECT A DRUG </h4>
              <p id="interactions-combo-result-description">
                {{ lowriskd.description }}
                Click one of the drugs below and see how it mixes with <span class="current-drug-name"></span>.
              </p>
            </div>
          </div>
          <div id="interactions-table">
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>2C-X</h5><div class="hidden">{% block combo_2C_X %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Alcohol</h5><div class="hidden">{% block combo_Alcohol %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Amphetamines</h5><div class="hidden">{% block combo_Amphetamines %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Benzos</h5><div class="hidden">{% block combo_Benzos %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Caffeine</h5><div class="hidden">{% block combo_Caffeine %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Cannabis</h5><div class="hidden">{% block combo_Cannabis %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Cocaine</h5><div class="hidden">{% block combo_Cocaine %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>DMT</h5><div class="hidden">{% block combo_DMT %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>DXM</h5><div class="hidden">{% block combo_DXM %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Ketamine</h5><div class="hidden">{% block combo_Ketamine %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>LSD</h5><div class="hidden">{% block combo_LSD %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>MDMA</h5><div class="hidden">{% block combo_MDMA %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>MAOIs</h5><div class="hidden">{% block combo_MAOIs %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Mushrooms</h5><div class="hidden">{% block combo_Mushrooms %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Nitrous</h5><div class="hidden">{% block combo_nos %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Opioids</h5><div class="hidden">{% block combo_Opioids %}{% endblock %}</div></a>
            <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>SSRIs</h5><div class="hidden">{% block combo_SSRIs %}{% endblock %}</div></a>


          </div>
          <p>
            <small>
            Source: <a href="http://wiki.tripsit.me/images/3/3a/Combo_2.png">tripsit.me</a>
          </small>
          </p>
          {% block interactions_second_content %} {% endblock %}
        </div>
      </div>
    </div>
    <div id="harm-reduction" class="section">
      <div class="section-title">
        <h2>Harm reduction</h2>
      </div>
      <div class="section-content">
        {% block harm_reduction_content %} {% endblock %}
        <div id="harm-reduction-timeline" class="row">
          <div id="harm-reduction-stage-indicators" class="col-md-2 col-sm-2">
            <div class="harm-reduction-stage-indicator active boxed theme-light-bg">
              <h3 class="funky">BEFORE</h3>
              <div class="hidden harm-reduction-stage-description">
                {% block harm_reduction_stage_1 %} {% endblock %}
              </div>
            </div>
            <div class="harm-reduction-stage-indicator boxed">
              <h3 class="funky">DURING</h3>
              <div class="hidden harm-reduction-stage-description">
                {% block harm_reduction_stage_2 %} {% endblock %}
              </div>
            </div>
            <div class="harm-reduction-stage-indicator boxed">
              <h3 class="funky">AFTER</h3>
              <div class="hidden harm-reduction-stage-description">
                {% block harm_reduction_stage_3 %} {% endblock %}
              </div>
            </div>
          </div>
          <div id="harm-reduction-stage-descriptions" class="boxed col-md-8 col-sm-8">
            <div class="harm-reduction-stage-description">
              <p>
                Please activate Javascript.
              </p>
            </div>
            <div class="read-more">
              <p class="funky boxed text-center ">Read more</p>
            </div>
          </div>

        </div>
        {% block harm_reduction_second_content %} {% endblock %}
      </div>
    </div>

    <div id="risks" class="section">
      <div class="section-title">
        <h2>Risks</h2>
      </div>
      <div class="section-content">
        {% block risks_content %} {% endblock %}
      </div>
    </div>

    <div id="the-law" class="section">
      <div class="section-title">
        <h2>The Law</h2>
      </div>
      <div class="section-content">
        {% block the_law_content %} {% endblock %}
      </div>
    </div>

    <div id="more-info" class="section">
      <div class="section-title">
        <h2>More information, references, useful links...</h2>
      </div>
      <div class="section-content">
        {% block more_info_content %} {% endblock %}
      </div>
    </div>
    <div class="section">
      <div class="section-title">
        <h2></h2>
      </div>
      <div class="section-content">
        <p>
          If you are interested by this guide and would like to host workshops
          for your students or attend one of events, <a href="workshops.html">
          check our workshops page</a> or <a href="mailto:contact@drugsand.me">
          send us an email.</a>
        </p>
        <p>
          If you support our work <a href="donate.html">please consider
            donating</a>. If you’d like to know more about where your donation
            will go <a href="mailto:contact@drugsand.me">send us an email</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3" role="complementary">
    <nav id="sidebar" class="nav nav-stacked bs-docs-sidebar hidden-print hidden-sm hidden-xs" >
      <ul class="nav">
        <li><a href="#intro">Intro</a></li>
        <li><a href="#effects">Effects</a></li>
        <li><a href="#dose-and-onset">Dose and Onset</a></li>
        <li><a href="#interactions">Interactions</a></li>
        <li><a href="#harm-reduction">Harm Reduction</a></li>
        <li><a href="#risks">Risks</a></li>
        <li><a href="#the-law">The Law</a></li>
        <li><a href="#more-info">More information...</a></li>
      </ul>
      {% include "partials/sidebar.njk" %}
    </nav>
  </div>
</div>

{% endblock %}
