{% extends 'base.njk' %}

{% block title %}
  Drugs and Me | Harm Reduction | Safe Drug Use Guide
{% endblock %}
{% block meta_seo %}
  <meta name="description" content="Drugsand.me is an educational website about harm reduction methods for drug use, including effects, risks and dose for alcohol, weed, LSD, MDMA, Modafinil, coke and ketamine.">
{% endblock %}


{% block optional_navbar_class %}
hidden-sm
{% endblock %}

{% block cover_background %}
<div style="background: url(static/images/non-drugs/index/Background.png) repeat; background-size: 50%;" id="site-index">
{% endblock %}

{% block cover %}
<div>
  <div id="title">
    <div class="title" id="title-drugs">
      <div class="title-button" id="title-drugs-button">
        <div class="" style="width:150%; text-align: left; position: absolute; top: -50px;">
          <h4 class="stronger-subheader"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> hover over me</h4>
        </div>
        <h1>
          <span style="color: #40AF81;">d</span><span style="color: #E97C39;">r</span><span style="color: #5898BB;">u</span><span style="color: #E48084;">g</span><span style="color: #C43830;">s</span>
        </h1>
      </div>
      <div class="title-collapse hidden" id="title-drugs-collapse">
        <a href="alcohol.html">
          <div class="alcohol index-menu-item">
            <h3>Alcohol</h3>
          </div>
        </a>
        <a href="cannabis.html">
          <div class="cannabis index-menu-item">
            <h3>Cannabis</h3>
          </div>
        </a>
        <a href="cocaine.html">
          <div class="cocaine index-menu-item">
            <h3>Cocaine</h3>
          </div>
        </a>
        <a href="ketamine.html">
          <div class="ketamine index-menu-item">
            <h3>Ketamine</h3>
          </div>
        </a>
        <a href="lsd.html">
          <div class="lsd index-menu-item">
            <h3>LSD</h3>
          </div>
        </a>
        <a href="mdma.html">
          <div class="mdma index-menu-item">
            <h3>MDMA</h3>
          </div>
        </a>
        <a href="modafinil.html">
          <div class="index-menu-item modafinil">
            <h3>Modafinil</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="title" id="title-me">
      <div class="title-button" id="title-me-button">
        <div class="" style="width:150%; text-align: right; position: absolute; top: -50px; right:5%;">
          <h4 class="stronger-subheader">click me <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h4>
        </div>
        <a href="me.html" style="color: #000000;"><h1>
          me
        </h1></a>
      </div>
      <div class="title-collapse hidden" id="title-me-collapse">
        <a href="me.html#getting-them">
          <div class="me-getting-them-alt index-menu-item">
            <h3>Getting them</h3>
          </div>
        </a>
        <a href="me.html#taking-them">
          <div class="me-taking-them-alt index-menu-item">
            <h3>Taking them</h3>
          </div>
        </a>
        <a href="me.html#dosing">
          <div class="me-dosing-alt index-menu-item">
            <h3>Dosing</h3>
          </div>
        </a>
        <a href="me.html#tolerance">
          <div class="me-tolerance-alt index-menu-item">
            <h3>Tolerance</h3>
          </div>
        </a>
        <a href="me.html#abuse-and-addiction">
          <div class="me-addiction-alt index-menu-item">
            <h3>Substance abuse</h3>
          </div>
        </a>
      </div>
    </div>
    <div id="title-static">
      <div class="title-background" id="title-drugs-background"></div>
      <div id="title-plus"><h1>+</h1></div>
      <div class="title-background" id="title-me-background"></div>
    </div>
  </div>
  <p class="lead">Your <strong>harm reduction</strong> guide to safer drug use</p>
{% endblock %}

{% block content %}

<div id="index-blurb">
  <!-- Tab panes -->
  <div role="tabpanel" class=" boxed harm-reduction" id="index-harm-reduction">
    <h4 class="visible-sm visible-xs">What is harm reduction? <span class="pull-right">+</span></h4>
    <h3 class="hidden-sm hidden-xs">What is harm reduction?</h3>
    <div class="hidden-sm hidden-xs" id="index-harm-reduction-content">
      <p>
        Drug harm reduction consists in education, both legal and illegal to
        help reduce the short and long term harms of drugs. There are very
        clear benefits to knowing which dose range to stick to or learning
        how to handle a bad trip.We do not promote drug use, but we do
        encourage safety for those thinking of taking any kind of drug.
      </p>
      <p>
        We cannot guarantee that this will prevent any harm from drug use,
        nor can we be liable for any outcomes resulting from the use of
        drugs. The information must be treated as indicative only as
        individuals and circumstances will differ.
      </p>
      <p>
        This website was inspired by the increasing number of deaths that occur
        in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/bulletins/deathsrelatedtodrugpoisoninginenglandandwales/2016registrations">UK</a>
        and <a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates">USA</a>
        due to lack of correct drug education. If you support our work please
        consider <a href="http://drugsand.me/donate.html">donating</a>. If
        you’d like to know more about where your donation will go send us an
        <a href="mailto:contact@drugsand.me">email</a>.
      </p>
    </div>
  </div>
  <div class="partners boxed">
    <h3 style="text-align:center">Featured on</h3>
    <div class="partners-logos">
      <a href="#"><img class="" src="static/images/partners/VFlogo.png" alt="volteface"></a>
      <a href="#"><img class="" src="static/images/partners/beckley-logo--home.png" alt="beckleyfoundation"></a>
      <a href="#"><img class="" src="static/images/non-drugs/press/the-guardian.jpg" alt="The Guardian"></a>
      <a href="#"><img class="" src="static/images/non-drugs/press/vice.jpg" alt="Vice"></a>
    </div>
  </div>
</div>
{% endblock %}
