{% extends 'base.njk' %}

{% block title %}
  Drugs and Me - News
{% endblock %}


{% block header %}
<style media="screen">
  #press-cover{
   background: url(static/images/non-drugs/press/GRADIENT.svg);
   background-size: 100%;
 }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9">

  <img src="static/images/non-drugs/press/press-illustration.png" style="height:250px; top: -200px;" alt="about">
  <div id="cover-text">
    <h1 style="background-image: url(static/images/non-drugs/press/GRADIENT.svgs), none;background-size: 100% 100%;">
      Press
    </h1>
    <h4>About the project and the team</h4>
  </div>
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg" id="press-cover">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10" role="main" id="me-content">
    <div class="blog-post">
      <h2 class="small"> 14 July 2017</h2>
      <h2 class='section-title'><img class="press-logo" src="static/images/non-drugs/press/vice.jpg" alt="Vice logo">Vice</h2>
      <div class="featuring">
        <h4>Max Daly</h4>
        <a href="https://www.vice.com/en_uk/article/mbaenn/why-are-universities-so-scared-to-talk-about-drugs-safe-sesh">Why Are Universities So Scared to Talk About Drugs?</a>
      </div>
      <p>
        "While freshers can expect briefings about sexual abuse, personal safety and inequality, on the dangers of drugs, universities clam up."
      </p>
    </div>
    <div class="blog-post">
      <h2 class="small"> 20 April 2017</h2>
      <h2 class='section-title'><img class="press-logo" src="static/images/non-drugs/press/the-guardian.jpg" alt="The Guardian logo">The Guardian</h2>
      <div class="featuring">
        <h4>Rosalind Stone</h4>
        <a href="https://www.theguardian.com/science/2017/apr/20/what-does-an-lsd-style-drug-induced-higher-state-of-consciousness-feel-like?CMP=twt_gu"> What does an LSD-style drug-induced 'higher state of consciousness' feel like? </a>
      </div>
      <p>
        "My favourite trip was in Richmond Park in 2014. I took 100 micrograms of
        1P-LSD, a designer LSD analogue which was legal in the UK until May 2016.
        The acid come-up starts in your throat: warmth spreads through you like
        syrup. Words will be more fun to say. Dust, sunbeams and the lint on
        your sleeves take on a faint, bluish fizz, or is it a whizz?"
      </p>

    </div>
    <div class="blog-post">
      <h2 class="small">  8 March 2017</h2>
      <h2 class="section-title"><img class="press-logo" src="static/images/non-drugs/press/icov.jpg" alt="ICOV logo">ICOV</h2>
      <div class="featuring">
        <h4>David Aston</h4>
        <h4> <a href="http://icov.co.uk/drug-testing-and-harm-reduction-an-altruistic-approach-to-drug-education/">Drug testing and harm reduction, an altruistic approach to drug education.</a> </h4>
      </div>
      <p>
        "[...]  Drugs and Me, a website set up by students at University College London who saw a gap in the market for unbiased information on illicit substances that took a scientific stand on the matter, rather than a political or ideological one.[...]"
      </p>

    </div>
    <div class="blog-post">
      <h2 class="small">  11 October 2016 </h2>
      <h2 class="section-title"> <img class="press-logo" src="static/images/non-drugs/press/talking-drugs.jpg" alt="Talking Drugs logo">TALKING DRUGS</h2>
      <div class="featuring">
        <h4>Rosalind Stone</h4>
        <h4><a href="http://www.talkingdrugs.org/drugsandme-new-harm-reduction-guide-safer-drug-use">Drugsand.me: A New Harm Reduction Guide to Safer Drug Use </a> </h4>
      </div>
      <p>
        "[...] Billed as “your harm-reduction guide to safer drug use,” this new resource of safety information about drugs is designed precisely for “me”, and you, and everyone else. [...]"
      </p>

    </div>
    <div class="blog-post">
      <h2 class="small">  30 June 2016</h2>
      <h2 class="section-title"><img class="press-logo" src="static/images/non-drugs/press/the-guardian.jpg" alt="The Guardian logo">The Guardian</h2>
      <div class="featuring">
        <h4>Suzi Gage</h4>
        <h4> <a href="https://www.theguardian.com/science/sifting-the-evidence/2016/jun/30/say-why-to-drugs-mdma-ecstasy">Say Why To Drugs: unravelling the myster-E of MDMA </a></h4>
      </div>
      <p>
        "[...] MDMA is illegal, and as such there are unknown risks from using it, as well as what we know from scientific evidence, and the risk of getting a criminal record. If you still plan to use it, the drugsand.me website provides practical advice to minimize harm.[...]"
      </p>

    </div>
    <div class="blog-post">
      <h2 class="small">  3 June 2016</h2>
      <h2 class="section-title"><img class="press-logo" src="static/images/non-drugs/press/ucl.jpg" alt="UCL logo">UCL</h2>
      <div class="featuring">
        <h4>Melissa Bradshaw</h4>
        <h4>UCL Communications and Marketing</h4>
        <h4> <a href="https://www.ucl.ac.uk/news/students/062016/062016-02062016-drugsandme-website-founded-by-ucl-students-wins-support-from-drug-experts">UCL - An independent drugs harm reduction website founded by UCL students is winning support from leading drug policy experts and campaigners</a></h4>

      </div>
      <p>
        "Drug use is rising across Europe, and one in four Europeans over the age of 15 have tried illegal drugs at least once, according to the European Monitoring Centre for Drugs and Drug Addiction (EMCDDA)."
      </p>

    </div>

    <div class="blog-post">
      <h2 class="small">  23 March 2016</h2>
      <h2 class="section-title"><img class="press-logo" src="static/images/non-drugs/press/pi-media.jpeg" alt="Pi Media logo">PI MEDIA</h2>
      <div class="featuring">
        <h4>Irene Echeverria-Altuna</h4>
        <h4> <a href="http://pimediaonline.co.uk/science-tech/drugs-and-us/">Drugs and us</a> </h4>
      </div>
      <p>
        "Irene Echeverria-Altuna explores our lengthy relationship with drugs and speaks to the founders of drugsand.me, a website aimed at delivering better drug awareness."
      </p>
    </div>
  </div>
  <div class="col-md-2" role="complementary">
    <nav id="sidebar" class="nav nav-stacked affix bs-docs-sidebar hidden-print hidden-sm hidden-xs">
      <div class="bigger-sidebar-boxes boxed donate">
        <h3 class=""><a href="/donate">Donate</a></h3>
      </div>
      <br>
      <div class="alcohol drugs-sidebar-boxes">
        <a href="/alcohol.html">
          <h4>Alcohol</h4>
        </a>
      </div>
      <div class="cannabis drugs-sidebar-boxes">
        <a href="/cannabis.html">
          <h4>Cannabis</h4>
        </a>
      </div>
      <div class="cocaine drugs-sidebar-boxes">
        <a href="/cocaine.html">
          <h4>Cocaine</h4>
        </a>
      </div>
      <div class="ketamine drugs-sidebar-boxes">
        <a href="/ketamine.html">
          <h4>Ketamine</h4>
        </a>
      </div>
      <div class="lsd drugs-sidebar-boxes">
        <a href="/lsd.html">
          <h4>LSD</h4>
        </a>
      </div>
      <div class="mdma drugs-sidebar-boxes">
        <a href="/mdma.html">
          <h4>MDMA</h4>
        </a>
      </div>
      <div class="modafinil drugs-sidebar-boxes">
        <a href="/modafinil.html">
          <h4>Modafinil</h4>
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}
