{% extends 'non-drug.njk' %}

{% block title %}
  Drugs and Me - Team
{% endblock %}


{% block header %}
<style>
  .theme-bg{
    background-color:#F6D85B !important;
  }
  .theme-color{
    color: #F6D85B !important;
  }
  .theme-light-bg{
    background-color: #F6D85B !important;
  }
  .theme-light-color{
    color:#F6D85B !important;
  }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9" style="background-color: #F6D85B">

  <img src="static/images/non-drugs/about/about-illustration.png" style="height:300px;" alt="donate">
  <div id="cover-text">
    <h1>Team</h1>
  </div>
</div>
{% endblock %}

<!-- {% block cover_background %}
  <div class="theme-bg">
{% endblock %} -->

{% block article %}
<div class="section">
  <div class="section-content">

    <!-- <h2 class="section-title">Team</h2> -->
    <h3>Founders/Directors</h3>
    <div class="team-card">
      <h5>Pablo Lubroth<small>Director of Operations</small></h5>
      </div>
      <div class="team-card">
      <h5>Ivan Ezquerra<small>Director of Content</small></h5>
    </div>
    <div class="team-card">
      <h5>Gabriel Hirschbaeck<small>Director of Technology</small></h5>
    </div>
    <div class="team-card">
      <h5>Ros Stone<small> Director of Growth and Development</small></h5>
    </div>
    <h3>Researchers and Design</h3>
    <div class="team-card">
      <h5>Arthur Sebag<small>Head of Content and Peer Review</small></h5>
    </div>
    <div class="team-card">
      <h5>Arda Ozcubukcu<small>Survey Analyst</small></h5>
    </div>
    <div class="team-card">
      <h5>Hanin Abdullah<small>Amphetamines Researcher and Workshop Organiser</small></h5>
    </div>
    <div class="team-card">
      <h5>Seth Lietz<small>2-CB Researcher</small></h5>
    </div>
    <div class="team-card">
      <h5>Jon Urquidi<small>Modafinil Researcher</small></h5>
    </div>
    <div class="team-card">
      <h5>Ryan Camps<small>Psylocibin Researcher and Data Analyst</small></h5>
    </div>
    <div class="team-card">
      <h5>Raph Leon<small>DMT Researcher</small></h5>
    </div>
    <h3>Design and Operations</h3>
    <div class="team-card">
      <h5><a href="http://http://www.gabrielmmarti.com/">Gabriel Martinez</a><small>Graphic Designer</small></h5>
    </div>
    <div class="team-card">
      <h5><a href="http://iainhcreative.co.uk">Iain Harrison</a><small>Head of Marketing</small></h5>
    </div>
    <div class="team-card">
      <h5>Paul North<small>Head of Workshops</small></h5>
    </div>
    <h3>Past Contributors</h3>
    <div class="team-card">
      <h5><a href="http://meaghanli.com">Meaghan Li</a>
      <small>Graphic Designer</small></h5>
    </div>
    <div class="team-card">
      <h5>Sean Kelly<small>Analyst</small></h5>
    </div>
    <div class="team-card">
      <h5>Milou van der Lans<small>SEO Analyst</small></h5>
    </div>
    <div id="join-us">
      <h2 class="section-title">Join us</h2>
      <p>
        If you would like to provide feedback for the website, collaborate with us,
        contribute to an article, or send ideas and sources, please get in touch
        by emailing <a href="mailto:contact@drugsand.me">contact@drugsand.me</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
