{% extends 'drug.njk' %}

{% block title %}

{% endblock %}

{% block meta_seo %}
<meta name="description" content="Drugsand.me is an educational website about
harm reduction for INSERT DRIG HERE use, including effects, risks, dose, onset,
legal and recreational use.">
{% endblock %}

{% block header %}
  <style>
    .theme-bg{
      background-color:#56C18A !important;
    }
    .theme-color{
      color: #56C18A !important;
    }
    .theme-light-bg{
      background-color: #56C18A !important;
    }
    .theme-light-color{
      color:#56C18A !important;
    }
  </style>

  <meta name="drug-name" content="DRUG">
{% endblock %}

{% block cover_contents %}
  <img src="static/images/drugs/DRUG/DRUG-illustration.png" alt="DRUG">
  <div id="cover-text">
    <h1>DRUG</h1>
    <h4>PSEUDONYMS</h4>
  </div>
{% endblock %}

{% block intro_content %}

{% endblock %}

{% block intro_content_1 %}
  <h3 class="funky">TITLE</h3>
  <p class="hidden">
    BACK OF CARD
  </p>
{% endblock %}
{% block intro_content_2 %}
<h3 class="funky">TITLE</h3>
<p class="hidden">
  BACK OF CARD
</p>
{% endblock %}
{% block intro_content_3 %}
<h3 class="funky">TITLE</h3>
<p class="hidden">
  BACK OF CARD
</p>
{% endblock %}


{% block effects_content %}

{% endblock %}

{% block effects_list_positive %}
<li><span></span></li>
{% endblock %}

{% block effects_list_neutral %}
<li><span></span></li>
{% endblock %}
{% block effects_list_negative %}
<li><span></span></li>
{% endblock %}

{% block dose_and_onset_content %}

{% endblock %}


{% block interactions_content %}

{% endblock %}

{% block combo_2C_X %}
  {% include "partials/caution.njk" %}
{% endblock %}

{% block combo_Alcohol %}
  {% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_Amphetamines %}
  {% include "partials/caution.njk" %}
{% endblock %}

{% block combo_Benzos %}
  {% include "partials/lowriskd.njk" %}
{% endblock %}

{% block combo_Caffeine %}
  {% include "partials/lowriskns.njk" %}
{% endblock %}

{% block combo_Cannabis %}
{% include "partials/empty.njk" %}
{% endblock %}

{% block combo_Cocaine %}
{% include "partials/caution.njk" %}
{% endblock %}

{% block combo_DMT %}
{% include "partials/caution.njk" %}
{% endblock %}

{% block combo_DXM %}
{% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_Ketamine %}
{% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_LSD %}
{% include "partials/caution.njk" %}
{% endblock %}

{% block combo_MDMA %}
{% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_MAOIs %}
{% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_Mushrooms %}
{% include "partials/caution.njk" %}
{% endblock %}

{% block combo_nos %}
{% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_Opioids %}
{% include "partials/lowrisks.njk" %}
{% endblock %}

{% block combo_SSRIs %}
{% include "partials/lowriskns.njk" %}
{% endblock %}


{% block harm_reduction_content %}

{% endblock %}

{% block harm_reduction_stage_1 %}

{% endblock %}

{% block harm_reduction_stage_2 %}
{% endblock %}

{% block harm_reduction_stage_3 %}

{% endblock %}

{% block risks_content %}

{% endblock %}

{% block the_law_content %}

{% endblock %}

{% block more_info_content %}
<h3>FAQs</h3>

<h3>References</h3>
  <ul>
    <li><span> </span></li>
  </ul>
{% endblock %}
