{% extends 'non-drug.njk' %}

{% block title %}
  Drugs and Me - Workshops
{% endblock %}


{% block header %}

<style media="screen">
  #press-cover{
   background: url(static/images/non-drugs/press/GRADIENT.svg);
   background-size: 100%;
 }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9">

  <img src="static/images/non-drugs/workshops/workshops-illustration.png" style="height:250px; top: -200px;" alt="about">
  <div id="cover-text">
    <h1 style="background-image: url(static/images/non-drugs/press/GRADIENT.svgs), none;background-size: 100% 100%;">
      Workshops
    </h1>
    <!-- <h4>Bringing</h4> -->
  </div>
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg" id="press-cover">
{% endblock %}


{% block article %}
<div class="section">
  <div id="intro" class="section-content">
    <p>
      We provide a wide range of bespoke training sessions, from short workshops
      too full days training. We also organise informative and interesting
      events on drug related topics.
    </p>
    <h5>We offer:</h5>
    <ul>
      <li>Workshops and Talks on drugs and harm reduction.</li>
      <li>
        Bespoke workshops for a wide range of audiences on drugs and addiction
      </li>
      <li>
        University Training Days
      </li>
      <li>
        Comprehensive training days for universities on drugs, addiction and
        psychosocial interventions
      </li>
      <li>
        Events and talks on drugs and addiction
      </li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <h2 class="funky">Workshops and Talks on drugs</h2>
  </div>
  <div class="section-content">

    <p>
      We design and facilitate bespoke workshops for a wide range of audiences
      on drugs and addiction across the UK. We specialise in providing clear,
      evidence based and effective messages based upon the key principles of
      quality drugs education.
    </p>
    <p>
      Our primary aim is the prevent the harms of drugs by empowering people
      with the information they need to help them and those they care about
      to make informed choices.
    </p>
    <p>
      If you would like us to deliver a workshop or training session on drugs
      then please get in touch via the email below.
    </p>
    <a href="mailto:paul@drugsand.me">paul@drugsand.me</a>
    <p class="side-note">
      "We noticed that, at university, it was almost weirder to talk about drugs
      than to take them – people were more worried about being legally safe than
      staying physically safe." - <a href="https://www.vice.com/en_uk/article/mbaenn/why-are-universities-so-scared-to-talk-about-drugs-safe-sesh">Vice</a>
    </p>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <h2 class="funky">University training days</h2>
  </div>
  <div class="section-content">
    <p>
      We deliver comprehensive training days for universities on drugs,
      addiction and psychosocial interventions across the UK. Our training
      sessions are ideal for university courses in which drugs are a relevant
      issue but not to the extent where full modules are part of the programme.
    </p>
    <p>
      We design and modify our courses on request to ensure that the content is
      relevant to the programme.
    </p>
    <p>
      These sessions are delivered by our Training Director Paul North who has
      worked in drug treatment services and lectured at universities on drugs
      and addiction for nine years. He currently works for a leading drug policy
      think tank and can cover topics on policy and government as-well as drugs
      and addiction.
    </p>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <h2 class="funky">Events</h2>
  </div>
  <div class="section-content">
    <p>
      We host events and talks on drugs and addiction in London. Check out our
      <a href="#">Eventbrite page</a> for more information and subscribe to our email
      list to stay up to date with upcoming events.
    </p>
    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://drugsand.us12.list-manage.com/subscribe/post?u=27eb6c7445633027c8160efd7&amp;id=5857206b23" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27eb6c7445633027c8160efd7_5857206b23" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
  </div>
</div>
{% endblock %}
