<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
