<h4 class="funky">DANGEROUS</h4>
<p class="interaction-dangerous">
  These combinations are considered extremely harmful and should always be
  avoided. Reactions to combining these drugs are highly
  unpredictable and can potentially cause death.
</p>
